.aboutBackground {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.712);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutBanner{
    /* border: black solid 1px; */
    padding: .5rem;
    width: 70vw;
}

.aboutMeDescription {
    color: white;
    font-size: 1.5rem;
}

.catagory{
    display: flex;
    /* background-color: orange; */
    width: 70vw;
    justify-content: space-evenly;
}


@media screen and (max-width: 490px) {
    .aboutBanner {
        width: 87vw;
    }
    .aboutMeDescription {
        font-size: 1.15rem;
    }

    .catagory{
        width: vw;
    }

    .aboutBackground{
        height: 100%;
    }

    .aboutBanner{
        margin-top: 3.5rem;
    }
}