.aboutBackground {
    height: 100%;
    width: 100vw;
    background-color: rgb(160, 104, 0);
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* padding-bottom: 10rem; */
}

.aboutWave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.aboutWave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 55px;
}

.aboutWave .shape-fill {
    fill: #373737;
}

.aboutMeTitle {
    font-weight: bold;
    font-size: 4rem;
    position: relative;
    margin: 0
}

.aboutBanner{
    /* border: black solid 1px; */
    padding: .5rem;
    width: 70vw;
    margin-top: 10rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.308);
    padding: .3rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.321),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 8px 10px rgba(0, 0, 0, 0.06),
    0 10px 10px rgba(0, 0, 0, 0.12)
}

.aboutMeDescription {
    color: white;
    font-size: 1.5rem;
    /* border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.308);
    padding: .3rem; */
}

.catagory{
    display: flex;
    /* width: 70vw; */
    max-width: 970px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    color: white;
    margin-bottom: 10rem;
}

.icons{
    height: 100px;
    width: 100px;
    color: #a2b9e1
}

.iconBox{
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.308);
    padding: .65rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.321),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 8px 10px rgba(0, 0, 0, 0.06),
    0 10px 10px rgba(0, 0, 0, 0.12);
}

.icons:hover {
    animation: bounce 0.65s;
}

.iconLabel {
    padding: 0;
    margin: 0;
    border-radius: 7px;
    font-weight: bold;
    /* background-color: rgba(0, 0, 0, 0.308); */
}

@keyframes bounce {
    100%{
        transform: rotate(360deg)
    }
}


@media screen and (max-width: 490px) {
    .aboutBanner {
        width: 87vw;
    }

    .aboutMeDescription {
        font-size: 1.15rem;
    }

    .catagory{
        width: 90vw;
    }

    .aboutBackground{
        height: 100%;
    }

    .aboutBanner{
        margin-top: 5rem;
    }

    .icons{
        height: 50px;
        width: 50px;
    }

    .iconBox{
        width: 100px;
    }
}